{% extends 'dashboard.html' %}

{% block content %}

<h1>My Companies</h1>

{% for i in companies %}

<div class="card-group" style="margin-bottom: 1em;" >
    <div class="card" style="background-color: bisque;margin-left: 2em;margin-right: 2em;margin-top: 1em;">
      
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold;font-size: 27px;">Company Name: {{i.comapany_name}}</h5>
        <p class="card-text" style="font-weight: bold;color: black;font-size: 25px;">Company Area: {{i.company_area}}</p>
        

        
        
      </div>
    </div>
</div>
{% endfor %}

{% endblock %}