{% extends 'dashboard.html' %}

{% block content %}


<div class="table-responsive table-shadow" style="background-color: bisque;">
    
    {% if all_companies %}
    <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Company Name</th>
              <th scope="col">Company Area</th>
             
              <th scope="col">Delete</th>
             
             
            </tr>
          </thead>
          <tbody>
              {% for i in all_companies %}
            <tr style="background-color: #d9a3a3;">

              <td>{{ i.comapany_name}}</td>
              <td>{{ i.company_area }}</td>
           
              <td><a href="{% url 'delete_company' i.id %}">Delete</a></td>
            
              

             
            </tr>

            {% endfor %}

          </tbody>

    </table>
    {% else %}

    <span>No applications can be found...</span>
    {% endif %}

</div>

{% endblock %}