{% extends 'events.html' %}

{% block content %}


<div class="table-responsive table-shadow" style="background-color: bisque;">
    
    {% if job_apply %}
    <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">User</th>
              <th scope="col">Job Title</th>
              <th scope="col">Job Type</th>
              <th scope="col">Description</th>
              <th scope="col">Company</th>
             
            </tr>
          </thead>
          <tbody>
              {% for i in job_apply %}
            <tr style="background-color: #d9a3a3;">

              <td>{{ i.user.username}}</td>
              <td>{{ i.job.job_title }}</td>
              <td>{{ i.job.job_type}}</td>
              <td>{{ i.job.description }}</td>
              <td>{{i.job.company.comapany_name}}</td>
              

             
            </tr>

            {% endfor %}

          </tbody>

    </table>
    {% else %}

    <span>No applications can be found...</span>
    {% endif %}

</div>

{% endblock %}